
.DS_Store
antlr4/.antlr/
java/.idea/
java/target/
*.atn
*.html
*.class
*.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/thriftCompiler.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/libraries/Maven__com_carrotsearch_hppc_0_8_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_9.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_9_9.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_9_9_2.xml
.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_cbor_2_8_11.xml
.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_smile_2_8_11.xml
.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_8_11.xml
.idea/libraries/Maven__com_github_spullara_mustache_java_compiler_0_9_3.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_2.xml
.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
.idea/libraries/Maven__com_google_guava_guava_28_0_jre.xml
.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
.idea/libraries/Maven__com_tdunning_t_digest_3_2.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_3.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_12.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
.idea/libraries/Maven__commons_io_commons_io_2_6.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
.idea/libraries/Maven__joda_time_joda_time_2_10_2.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_9_7.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_9_7.xml
.idea/libraries/Maven__net_sf_jopt_simple_jopt_simple_5_0_2.xml
.idea/libraries/Maven__org_antlr_antlr4_runtime_4_7_2.xml
.idea/libraries/Maven__org_apache_commons_commons_collections4_4_3.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_8_1.xml
.idea/libraries/Maven__org_apache_commons_commons_text_1_6.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpasyncclient_4_1_4.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_8.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_11.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_nio_4_4_11.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_11_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_common_8_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_backward_codecs_8_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_core_8_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_grouping_8_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_highlighter_8_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_join_8_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_memory_8_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_misc_8_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queries_8_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queryparser_8_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_sandbox_8_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial3d_8_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial_8_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial_extras_8_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_suggest_8_1_0.xml
.idea/libraries/Maven__org_checkerframework_checker_qual_2_8_1.xml
.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_17.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_client_7_3_0.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_high_level_client_7_3_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_7_3_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_7_3_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_core_7_3_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_geo_7_3_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_secure_sm_7_3_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_x_content_7_3_0.xml
.idea/libraries/Maven__org_elasticsearch_jna_4_5_1.xml
.idea/libraries/Maven__org_elasticsearch_plugin_aggs_matrix_stats_client_7_3_0.xml
.idea/libraries/Maven__org_elasticsearch_plugin_lang_mustache_client_7_3_0.xml
.idea/libraries/Maven__org_elasticsearch_plugin_parent_join_client_7_3_0.xml
.idea/libraries/Maven__org_elasticsearch_plugin_rank_eval_client_7_3_0.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_9.xml
.idea/libraries/Maven__org_mockito_mockito_core_2_24_5.xml
.idea/libraries/Maven__org_mongodb_bson_3_9_0.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml
.idea/libraries/Maven__org_ow2_asm_asm_7_1.xml
.idea/libraries/Maven__org_ow2_asm_asm_analysis_7_1.xml
.idea/libraries/Maven__org_ow2_asm_asm_commons_7_1.xml
.idea/libraries/Maven__org_ow2_asm_asm_tree_7_1.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_18_6.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_26.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_17.xml
.idea/workspace.xml___jb_tmp___
.idea/libraries/Maven__com_carrotsearch_hppc_0_7_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_common_8_0_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_backward_codecs_8_0_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_core_8_0_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_grouping_8_0_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_highlighter_8_0_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_join_8_0_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_memory_8_0_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_misc_8_0_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queries_8_0_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queryparser_8_0_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_sandbox_8_0_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial3d_8_0_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial_8_0_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial_extras_8_0_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_suggest_8_0_0.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_client_7_2_0.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_high_level_client_7_2_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_7_2_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_7_2_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_core_7_2_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_geo_7_2_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_secure_sm_7_2_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_x_content_7_2_0.xml
.idea/libraries/Maven__org_elasticsearch_plugin_aggs_matrix_stats_client_7_2_0.xml
.idea/libraries/Maven__org_elasticsearch_plugin_lang_mustache_client_7_2_0.xml
.idea/libraries/Maven__org_elasticsearch_plugin_parent_join_client_7_2_0.xml
.idea/libraries/Maven__org_elasticsearch_plugin_rank_eval_client_7_2_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_8_6.xml
.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_cbor_2_8_6.xml
.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_smile_2_8_6.xml
.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_8_6.xml
.idea/libraries/Maven__com_tdunning_t_digest_3_0.xml
.idea/libraries/Maven__joda_time_joda_time_2_9_5.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpasyncclient_4_1_2.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_2.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_5.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_nio_4_4_5.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_9_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_common_7_0_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_backward_codecs_7_0_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_core_7_0_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_grouping_7_0_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_highlighter_7_0_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_join_7_0_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_memory_7_0_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_misc_7_0_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queries_7_0_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queryparser_7_0_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_sandbox_7_0_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial3d_7_0_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial_7_0_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial_extras_7_0_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_suggest_7_0_1.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_client_6_0_0.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_high_level_client_6_0_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_0_0.xml
.idea/libraries/Maven__org_elasticsearch_jna_4_4_0_1.xml
.idea/libraries/Maven__org_elasticsearch_plugin_aggs_matrix_stats_client_6_0_0.xml
.idea/libraries/Maven__org_elasticsearch_plugin_parent_join_client_6_0_0.xml
.idea/libraries/Maven__org_elasticsearch_securesm_1_1.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_15.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_0_1.xml
.idea/libraries/Maven__org_elasticsearch_securesm_1_2.xml
.idea/libraries/Maven__org_elasticsearch_plugin_parent_join_client_6_0_1.xml
.idea/libraries/Maven__org_elasticsearch_plugin_aggs_matrix_stats_client_6_0_1.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_high_level_client_6_0_1.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_client_6_0_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_8_10.xml
.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_cbor_2_8_10.xml
.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_smile_2_8_10.xml
.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_8_10.xml
.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_common_7_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_backward_codecs_7_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_core_7_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_grouping_7_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_highlighter_7_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_join_7_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_memory_7_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_misc_7_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queries_7_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queryparser_7_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_sandbox_7_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial3d_7_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial_7_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial_extras_7_1_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_suggest_7_1_0.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_client_6_1_0.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_high_level_client_6_1_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_1_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_6_1_0.xml
.idea/libraries/Maven__org_elasticsearch_plugin_aggs_matrix_stats_client_6_1_0.xml
.idea/libraries/Maven__org_elasticsearch_plugin_parent_join_client_6_1_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_1_1.xml
.idea/libraries/Maven__org_elasticsearch_plugin_parent_join_client_6_1_1.xml
.idea/libraries/Maven__org_elasticsearch_plugin_aggs_matrix_stats_client_6_1_1.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_6_1_1.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_high_level_client_6_1_1.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_client_6_1_1.xml
java/elasticsql.iml___jb_tmp___
.idea/libraries/Maven__com_vividsolutions_jts_1_13.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_9_1.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_client_6_1_2.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_high_level_client_6_1_2.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_1_2.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_6_1_2.xml
.idea/libraries/Maven__org_elasticsearch_plugin_aggs_matrix_stats_client_6_1_2.xml
.idea/libraries/Maven__org_elasticsearch_plugin_parent_join_client_6_1_2.xml
.idea/libraries/Maven__org_locationtech_spatial4j_spatial4j_0_6.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_client_6_1_3.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_high_level_client_6_1_3.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_1_3.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_6_1_3.xml
.idea/libraries/Maven__org_elasticsearch_plugin_aggs_matrix_stats_client_6_1_3.xml
.idea/libraries/Maven__org_elasticsearch_plugin_parent_join_client_6_1_3.xml
.idea/libraries/Maven__org_elasticsearch_plugin_parent_join_client_6_1_4.xml
.idea/libraries/Maven__org_elasticsearch_plugin_aggs_matrix_stats_client_6_1_4.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_6_1_4.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_1_4.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_high_level_client_6_1_4.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_client_6_1_4.xml
.idea/libraries/Maven__org_elasticsearch_plugin_rank_eval_client_6_2_0.xml
.idea/libraries/Maven__org_elasticsearch_plugin_parent_join_client_6_2_0.xml
.idea/libraries/Maven__org_elasticsearch_plugin_aggs_matrix_stats_client_6_2_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_core_6_2_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_6_2_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_2_0.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_high_level_client_6_2_0.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_client_6_2_0.xml
.idea/libraries/Maven__org_apache_lucene_lucene_suggest_7_2_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial_extras_7_2_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial_7_2_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial3d_7_2_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_sandbox_7_2_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queryparser_7_2_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queries_7_2_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_misc_7_2_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_memory_7_2_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_join_7_2_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_highlighter_7_2_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_grouping_7_2_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_core_7_2_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_backward_codecs_7_2_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_common_7_2_1.xml
.idea/libraries/Maven__joda_time_joda_time_2_9_9.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_client_6_2_1.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_high_level_client_6_2_1.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_2_1.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_6_2_1.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_core_6_2_1.xml
.idea/libraries/Maven__org_elasticsearch_plugin_aggs_matrix_stats_client_6_2_1.xml
.idea/libraries/Maven__org_elasticsearch_plugin_parent_join_client_6_2_1.xml
.idea/libraries/Maven__org_elasticsearch_plugin_rank_eval_client_6_2_1.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_client_6_2_2.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_high_level_client_6_2_2.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_2_2.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_6_2_2.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_core_6_2_2.xml
.idea/libraries/Maven__org_elasticsearch_plugin_aggs_matrix_stats_client_6_2_2.xml
.idea/libraries/Maven__org_elasticsearch_plugin_parent_join_client_6_2_2.xml
.idea/libraries/Maven__org_elasticsearch_plugin_rank_eval_client_6_2_2.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_client_6_2_3.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_high_level_client_6_2_3.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_2_3.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_6_2_3.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_core_6_2_3.xml
.idea/libraries/Maven__org_elasticsearch_plugin_aggs_matrix_stats_client_6_2_3.xml
.idea/libraries/Maven__org_elasticsearch_plugin_parent_join_client_6_2_3.xml
.idea/libraries/Maven__org_elasticsearch_plugin_rank_eval_client_6_2_3.xml
.idea/libraries/Maven__org_elasticsearch_plugin_rank_eval_client_6_2_4.xml
.idea/libraries/Maven__org_elasticsearch_plugin_parent_join_client_6_2_4.xml
.idea/libraries/Maven__org_elasticsearch_plugin_aggs_matrix_stats_client_6_2_4.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_core_6_2_4.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_6_2_4.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_2_4.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_high_level_client_6_2_4.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_client_6_2_4.xml
.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_common_7_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_backward_codecs_7_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_core_7_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_grouping_7_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_highlighter_7_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_join_7_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_memory_7_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_misc_7_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queries_7_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queryparser_7_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_sandbox_7_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial3d_7_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial_7_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_spatial_extras_7_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_suggest_7_3_1.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_client_6_3_0.xml
.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_high_level_client_6_3_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_3_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_6_3_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_core_6_3_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_secure_sm_6_3_0.xml
.idea/libraries/Maven__org_elasticsearch_elasticsearch_x_content_6_3_0.xml
.idea/libraries/Maven__org_elasticsearch_plugin_aggs_matrix_stats_client_6_3_0.xml
.idea/libraries/Maven__org_elasticsearch_plugin_parent_join_client_6_3_0.xml
.idea/libraries/Maven__org_elasticsearch_plugin_rank_eval_client_6_3_0.xml
